body {
  display: grid;
  margin: 0;
  grid-template-columns: 100vw;
  grid-auto-rows: 43vh 14vh 43vh;
}

.blue {
  background-color: blue;
}

.wrapper {
  display: grid;
  grid-gap: 1vw;
  grid-auto-columns: 25vw 13vw 60vw;
  background-color: white;
}

.red {
  background-color: red;
}

.rectangle-small {
  grid-row: 1;
  grid-column: 1 / 2;
}

.rectangle {
  grid-row: 1;
  grid-column: 3;
}

.white {
  margin-left: 2vw;
  margin-right: 2vw;
  grid-row: 1;
  background-color: blue;
}

.separator {
  background-color: blue;
}

.margin {
  margin: 5vh 0px;
}

.margin-bottom {
  margin-bottom: 5vh;
}

.margin-top {
  margin-top: 5vh;
}
